# ────────────────
# Logs
# ────────────────
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ────────────────
# Dependency directories
# ────────────────
node_modules/
frontend/node_modules/

# ────────────────
# Build output
# ────────────────
dist/
frontend/dist/
frontend/dist-ssr/
build/

# ────────────────
# Local environment files
# ────────────────
.env
frontend/.env
*.local

# ────────────────
# Editor files
# ────────────────
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ────────────────
# Misc
# ────────────────
*.tsbuildinfo

# ────────────────
# Godot
# ────────────────
/WONpkg/.godot/
/WONpkg/export_presets.cfg
/WONpkg/icon.svg.import
/WONpkg/*.translation

# Godot - Exported binaries
/WONpkg/builds/
/WONpkg/*.o
/WONpkg/*.so
/WONpkg/*.a
/WONpkg/*.dll
/WONpkg/*.pdb
/WONpkg/*.app
/WONpkg/*.apk
/WONpkg/*.ipa
/WONpkg/*.xap
/WONpkg/*.exe
/WONpkg/*.dmg
/WONpkg/*.pkg
/WONpkg/*.deb
/WONpkg/*.rpm

#Contracts
# Node modules
contract/node_modules

# Compilation output
contract/dist

# pnpm deploy output
contract/bundle

# Hardhat Build Artifacts
contract/artifacts

# Hardhat compilation (v2) support directory
contract/cache

# Typechain output
contract/types

# Hardhat coverage reports
contract/coverage
