.faq-container {
  text-align: center;
  padding: 40px 20px;
  font-family: 'Font1', sans-serif;
  background-color: #ffffff;
  color: #111;
}

.faq-header {
 font-size: 15vw;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: Font2;
  color: #000000;
}

.faq-list {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.faq-item {
  background: #fafafa;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq-item:hover {
  background: #f6f6f6;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: #222;
}

.faq-icon {
  font-size: 1.4rem;
  font-weight: bold;
  color: #777;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
  color: #111;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  color: #444;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-top: 10px;
  transition: all 0.4s ease;
}

.faq-item.active .faq-answer {
  max-height: 300px;
  opacity: 1;
}
